<mat-form-field>
    <mat-label>Nombre de la tarea</mat-label>
    <input matInput placeholder="Nombre de la tarea..." [(ngModel)]="data.task.title" required>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Prioridad</mat-label>
  <mat-select required [(ngModel)]="data.task.priority">
    <mat-option [value]="0">Baja</mat-option>
    <mat-option [value]="1">Media</mat-option>
    <mat-option [value]="2">Alta</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field *ngIf="data.editing" appearance="fill">
  <mat-label>Estado</mat-label>
  <mat-select required [(ngModel)]="data.task.state">
    <mat-option [value]="0">Pendiente</mat-option>
    <mat-option [value]="1">En proceso</mat-option>
  </mat-select>
</mat-form-field>

<div mat-dialog-actions>
    <button 
      mat-button [disabled]="data.task.title === ''" 
      [mat-dialog-close]="{ task: data.task }"
      color="primary">OK
    </button>
    <button *ngIf="!data.editing" mat-button [mat-dialog-close]="true" color="accent">Cancelar</button>
    <button *ngIf="data.editing" mat-button [mat-dialog-close]="{ task: data.task, cancel: true }" color="accent">Cancelar</button>
</div>
