.mat-toolbar, h1 {
  margin-bottom: 10px;
}

mat-card{
  border-style: solid;
  border-width: 3px;
  border-radius: 13px;
  margin-left: 10px;
}

.left-list {
  border-color: orange;
}

.rigth-list {
  border-color: green;
}


th {
  color: black;
  font-weight: bold;
  font-size: 12pt;
}

.todo-table {
  background-color: lightsalmon;
}

.done-table {
  background-color: lime;
}
  
th.mat-sort-header-sorted {
  color: black;
}
  
h1, table, .create-btn, .no-todos {
  font-weight: bold;
}

.no-todos {
  margin-top: 10px;
  font-size: 18pt;
}

.green-color {
  color: green
}

.orange-color {
  color: orange
}

.red-color {
  color: red
}

.grey-color {
  color: grey
}